* {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

header {
  background-color: darkslategrey;
  text-align: center;
  color: white;
  height: 200px;
}

header div {
  max-width: 768px;
  justify-content: end;
  align-items: start;
  flex-wrap: wrap;
  margin: auto;
  gap: 30px;
}

.graphs {
  width: 900px;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer {
  background-color: darkslategrey;
  text-align: center;
  color: white;
  height: 100px;
  gap: 30px;
}

footer div {
  max-width: 768px;
  min-width: 500px;
  justify-content: end;
  align-items: start;
  margin: auto;
  gap: 10px;
}

footer div p {
  flex-direction: row;
  gap: 3px;
}

footer div a {
  color: white;
}
